@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Clemente';
  src: url('/fonts/Clemente-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Clemente Hairline';
  src: url('/fonts/Clemente-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: regular;
}

@keyframes roll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f8fa !important;
  overflow-x: hidden;
}

.box-shadow-active {
  box-shadow: rgba(44, 74, 99, 0.4) -5px 5px, rgba(44, 74, 99, 0.3) -10px 10px, rgba(44, 74, 99, 0.2) -15px 15px,
    rgba(44, 74, 99, 0.1) -20px 20px, rgba(44, 74, 99, 0.05) -25px 25px;
}

.box-shadow-active-home {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Estilos da barra de rolagem para larguras maiores que 768px */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Estilos da barra de rolagem para larguras menores ou iguais a 768px */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

section {
  margin-top: 4rem;
}
